@charset "utf-8";

// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


// Update Bulma's global variables


// Colors
$primary: #e47312;  // Primary color in orange
$link: #8cba51;  // Links in green
$success: #8cba51;  // Green
$danger: #DC310B;  // Shade of red
$info: #1283e4;

// Fonts
$family-monospace: 'Parisienne';

// Columns
$column-gap: 1rem;
.column{ margin: $column-gap; }


// Importing only what we need from Bulma

// Mandatory imports
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

// Full imports
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

// Components
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

// Elements
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

// Layout
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

// Importing extensions
@import '../node_modules/bulma-switch/src/sass/index.sass';
