#content-wrap{
    margin-bottom: 1rem;  /* Small space between the body content & the footer */
}

.footer{
    bottom: 0;  /* Position at the bottom */
    width: 100%;  /* Footer takes full width */
    padding: 2rem;
}

.footer li.link{
    margin: auto;
}
